# EXPLORATORY DATA ANALYSIS
2013 stock data

In [3]:
#IMPORT PYTHON LIBRARIES
import numpy as np
import scipy as sp
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('NSE_data_all_stocks_2013.csv')

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\LEXISHEMA$'

In [8]:
os.chdir("C:\\Users\\LEXISHEMA$\\Downloads")

In [9]:
os.getcwd()

'C:\\Users\\LEXISHEMA$\\Downloads'

In [11]:
df = pd.read_csv('NSE_data_all_stocks_2013.csv')

In [12]:
df

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,2-Jan-13,EGAD,Eaagads Ltd,8.2,14,25,25,25,25,-,-,-,-
1,2-Jan-13,KUKZ,Kakuzi Plc,300,423.5,67.5,67.5,67.5,72,-4.5,6.25%,300,-
2,2-Jan-13,KAPC,Kapchorua Tea Kenya Plc,59,95,118,118,118,118,-,-,-,59
3,2-Jan-13,LIMT,Limuru Tea Plc,385,475,430,430,430,430,-,-,-,215
4,2-Jan-13,SASN,Sasini Plc,14.8,19.6,11.7,12.05,11.9,11.7,0.2,1.71%,"14,500",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14884,31-Dec-13,SCOM,Safaricom Plc,23.5,33.5,10.8,10.95,10.85,10.85,-,-,"2,461,000",-
14885,31-Dec-13,^FNK15,FTSE NSE Kenya 15 Index,154.41,227.73,172.4,172.4,172.4,172.84,-0.44,0.25%,-,-
14886,31-Dec-13,^FNK25,FTSE NSE Kenya 25 Index,162.87,238.71,174.27,174.27,174.27,174.56,-0.29,0.17%,-,-
14887,31-Dec-13,^N20I,NSE 20-Share Index,"1,873.47","2,766.77","4,926.97","4,926.97","4,926.97","4,874.29",52.68,1.08%,-,-
14888,31-Dec-13,^NASI,NSE All-Share Index,124.3,171.36,136.65,136.65,136.65,135.83,0.82,0.60%,-,-

#data frame data types

In [17]:
#check a particular column type
df['Day Low'].dtype

dtype('O')

In [18]:
#check types for all the columns
df.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

#data frames attributes

In [19]:
#find how many records this data has
df.shape

(14889, 13)

In [20]:
#how many elements are there 
df.size

193557

In [21]:
#what are the column name?
df.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

#data frames methods

In [22]:
#give the summary for the numeric column in the dataset
df.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889,14889
unique,247,62,62,90,101,1811,1807,2146,2147,677,785,4443,1040
top,20-Dec-13,BRIT,ABSA Bank Kenya Plc,2,33.5,5.5,3,5.5,5.5,-,-,-,-
freq,62,247,247,476,494,269,273,262,262,5096,5099,3231,10521

In [23]:
#calculate standard deviation for all the numeric columns
df.std()

Series([], dtype: float64)

In [29]:
#what are the mean values for all numeric column ?
df.mean()

Series([], dtype: float64)

In [ ]:
#2014 data

In [31]:
import os

In [32]:
os.getcwd()

'C:\\Users\\LEXISHEMA$\\Downloads'

In [33]:
df = pd.read_csv('NSE_data_all_stocks_2014.csv')

In [34]:
df

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-14,EGAD,Eaagads Ltd,8.2,14,23.75,23.75,23.75,23.75,-,-,"1,600",-
1,02-Jan-14,KUKZ,Kakuzi Plc,300,423.5,95,95,95,95,-,-,100,-
2,02-Jan-14,KAPC,Kapchorua Tea Kenya Plc,59,95,125,125,125,125,-,-,-,62.5
3,02-Jan-14,LIMT,Limuru Tea Plc,385,475,500,500,500,500,-,-,-,250
4,02-Jan-14,SASN,Sasini Plc,14.8,19,14.7,15,14.7,14.65,0.05,0.34%,"18,600",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15691,31-Dec-14,^FNK15,FTSE NSE Kenya 15 Index,154.41,227.73,213.51,219.66,215.49,217.76,-2.27,1.04%,-,-
15692,31-Dec-14,^FNK25,FTSE NSE Kenya 25 Index,162.87,238.71,214.39,220.6,216.42,218.7,-2.28,1.04%,-,-
15693,31-Dec-14,^N20I,NSE 20-Share Index,"1,873.47","2,766.77","5,112.65","5,112.65","5,112.65","5,091.60",21.05,0.41%,-,-
15694,31-Dec-14,^NASI,NSE All-Share Index,124.3,171.36,162.89,162.89,162.89,163.25,-0.36,0.22%,-,-
15695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#data frames data types

In [35]:
#check a particular column type
df['Day Price'].dtype

dtype('O')

In [36]:
#check types for all the columns 
df.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

#data frame attributes

In [37]:
#find how many records this data frame has
df.shape

(15696, 13)

In [38]:
#how many elements are there?
df.size

204048

In [39]:
#what are the column names?
df.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

#data frame methods

In [40]:
#give the summary for the numeric columns in the dataset
df.describe()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
count,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695,15695
unique,251,65,65,96,102,1932,1935,2361,2359,765,857,4881,1190
top,29-Dec-14,BRIT,ABSA Bank Kenya Plc,2,33.5,5.5,5.5,5.5,5.5,-,-,-,-
freq,65,251,251,491,502,264,259,256,256,4675,4681,2957,11655

In [41]:
#calculate standard deviation for all numeric columns 
df.std()

Series([], dtype: float64)

#2015 data

In [42]:
import os

In [43]:
os.getcwd()

'C:\\Users\\LEXISHEMA$\\Downloads'

In [44]:
df = pd.read_csv('NSE_data_all_stocks_2015.csv')

In [45]:
df

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,2-Jan-15,EGAD,Eaagads Ltd,8.2,14,42,42,42,42,-,-,-,-
1,2-Jan-15,KUKZ,Kakuzi Plc,300,423.5,180,180,180,180,-,-,"5,200",-
2,2-Jan-15,KAPC,Kapchorua Tea Kenya Plc,59,95,137,137,137,137,-,-,-,68.5
3,2-Jan-15,LIMT,Limuru Tea Plc,385,475,771,771,771,771,-,-,-,385.5
4,2-Jan-15,SASN,Sasini Plc,14.8,19.6,13,13,13,12.85,0.15,1.17%,"1,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16381,31-Dec-15,^FNK15,FTSE NSE Kenya 15 Index,154.41,227.73,182.69,186.64,186.64,182.69,3.95,2.16%,-,-
16382,31-Dec-15,^FNK25,FTSE NSE Kenya 25 Index,162.87,238.71,182.32,186.25,186.25,182.32,3.93,2.16%,-,-
16383,31-Dec-15,^N20I,NSE 20-Share Index,"1,873.47","2,766.77","4,040.75","4,040.75","4,040.75","3,992.57",48.18,1.21%,-,-
16384,31-Dec-15,^N25I,NSE 25-Share Index,"2,943.60","4,207.90","4,194.80","4,194.80","4,194.80","4,137.14",57.66,1.39%,-,-
16385,31-Dec-15,^NASI,NSE All-Share Index,124.3,171.36,145.7,145.7,145.7,144.37,1.33,0.92%,-,-

#data frames data types

In [47]:
#check type for all the coumns
df.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [48]:
#data frames attributes

In [50]:
#find how many records this data frame has
df.shape

(16386, 13)

In [51]:
#how many elements are there?
df.size

213018

In [52]:
#what are the column names?
df.columns

Index(['DATE', 'CODE', 'NAME', '12m Low', '12m High', 'Day Low', 'Day High',
       'Day Price', 'Previous', 'Change', 'Change%', 'Volume', 'Adjust'],
      dtype='object')

#data frames methods

In [53]:
#calculate standard deviation for all the numeric columns
df.std()

Series([], dtype: float64)

In [54]:
#what are the mean value for allthe numeric columns 
df.mean()

Series([], dtype: float64)

In [55]:
import os

In [56]:
os.getcwd()

'C:\\Users\\LEXISHEMA$\\Downloads'

In [57]:
df = pd.read_csv('NSE_data_all_stocks_2016.csv')

In [58]:
df

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,04-Jan-16,EGAD,Eaagads Ltd,8.2,14,25,25,25,26.75,-1.75,6.54%,400,-
1,04-Jan-16,KUKZ,Kakuzi Plc,300,423.5,317,348,332,317,15,4.73%,200,-
2,04-Jan-16,KAPC,Kapchorua Tea Kenya Plc,59,95,200,200,200,200,-,-,800,100
3,04-Jan-16,LIMT,Limuru Tea Plc,385,475,"1,085.00","1,085.00","1,085.00","1,085.00",-,-,-,-
4,04-Jan-16,SASN,Sasini Plc,14.8,19.6,19.5,19.5,19.5,19.55,-0.05,0.26%,700,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,30-Dec-16,^FNK15,FTSE NSE Kenya 15 Index,154.41,227.73,158.64,163.02,161.6,158.85,2.75,1.73%,-,-
16796,30-Dec-16,^FNK25,FTSE NSE Kenya 25 Index,162.87,238.71,163.21,167.38,166.2,163.41,2.79,1.71%,-,-
16797,30-Dec-16,^N20I,NSE 20-Share Index,"1,873.47","2,766.77","3,186.21","3,186.21","3,186.21","3,130.93",55.28,1.77%,-,-
16798,30-Dec-16,^N25I,NSE 25-Share Index,"2,943.60","4,207.90","3,530.07","3,530.07","3,530.07","3,455.66",74.41,2.15%,-,-
16799,30-Dec-16,^NASI,NSE All-Share Index,124.3,171.36,133.34,133.34,133.34,131.47,1.87,1.42%,-,-

In [3]:
#check types for all the columns 
df.dtypes

NameError: name 'df' is not defined

In [4]:
import os

In [5]:
os.getcwd()

'C:\\Users\\LEXISHEMA$'

In [7]:
os.chdir("C:\\Users\\LEXISHEMA$\\Downloads")

In [8]:
os.getcwd()

'C:\\Users\\LEXISHEMA$\\Downloads'

In [10]:
df = pd.read.csv('NSE_data_all_stocks_2017.csv')

NameError: name 'pd' is not defined